<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
        <!-- TODO: Update links and scripts for min -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
        <!-- <link rel="stylesheet" href="main.css"> -->
        <!-- <script type="text/javascript" src="main.js"></script> -->
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <div class="navigation">
                Navigation
            </div>
        </header>

        <main>
            <section class="section-form">
                <form class="" id="form">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL of website to analyze">
                    <input title="Acess key is alt+a" type="submit" name="" value="Analyze Website" accesskey="a">
                </form>
            </section>

            <section class="section-results">
                <h2>Form Results:</h2>
                <h3>Score:</h3>
                <div id="score"></div>
                <h3>Agreement:</h3>
                <div id="agreement"></div>
                <h3>Subjectivity:</h3>
                <div id="subjectivity"></div>
                <h3>Confidence:</h3>
                <div id="confidence"></div>
                <h3>Irony:</h3>
                <div id="irony"></div>
            </section>
        </main>

        <footer>
            <p>
                MeaningCloud™ <a href="http://www.meaningcloud.com">(http://www.meaningcloud.com)</a> 
                has been used for Text Analytics
                 purposes for learning how to implement APIs in Udacity's Front End Web Developer course.
            </p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>
    </body>
</html>